.photo {
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}

.bigPhotoRight {
  grid-column: 2 / 4;
  grid-row: span 2;
}

.bigPhotoLeft {
  grid-column: 1 / 3;
  grid-row: span 2;
}

.photo > div {
  grid-area: 1/1;
}

.access {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: 1/1;
  display: none;
}

.access::before {
  width: 16px;
  height: 10px;
  content: '';
  display: inline-block;
  margin-right: 0.25rem;
  background: url('../../Assets/visualizacao.svg') no-repeat;
}

.photo:hover .access {
  display: flex;
}

@media (max-width: 40rem) {
  .bigPhotoRight,
  .bigPhotoLeft {
    grid-column: initial;
    grid-row: initial;
  }
}
