#produtos {
  list-style-type: none;
  padding: 0;
}

#produtos li {
  border: solid 0.1rem black;
  padding: 0.5rem;
}

#propriedades {
  list-style-type: square;
}

#propriedades li {
  border: none;
  padding: 0.1rem;
}
