.comments {
  overflow-y: auto;
  word-break: break-word;
  padding: 0.2rem;
}

.single.comments {
  padding: 0px;
}

.comments li {
  margin-bottom: 0.5rem;
}

.comments li:focus {
  background: tomato;
}

.noComments {
  display: block;
  text-align: center;
  user-select: none;
  width: 100%;
  color: #ccc;
  padding: 0.5rem;
}
