.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  opacity: 0;
  transform: translateX(-30px);
  animation: moveToRight 0.3s forwards;
}

.image img {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0.75rem;
  margin: 0 24px 24px 0;
  width: 400px;
  height: auto;
}

.title {
  font-family: 'Times New Roman', serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 10px;
}

.preco {
  width: fit-content;
  padding: 6px 12px;
  border-radius: 10px;
  color: blue;
  background-color: greenyellow;
}

.descricao {
  font-size: 1.2rem;
}

@keyframes moveToRight {
  to {
    opacity: 1;
    transform: initial;
  }
}

/* Loader */

.loader {
  border: 8px solid #ccc;
  border-top: 8px solid #888;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
