.navlinks {
  margin: 50px 0;
}

.navlinks a {
  padding: 10px 25px;
  margin-right: 15px;
  background-color: #eee;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

.navlinks a:hover,
.navlinks a:active {
  background-color: #ddd;
  color: black;
}
