.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  opacity: 0;
  transform: translateX(-30px);
  animation: moveToRight 0.3s forwards;
}

.item {
  width: auto;
  height: auto;
  flex-basis: 30%;
  padding-bottom: 50px;
  border: none !important;
}

.item img {
  border-radius: 0.75rem;
}

.item .title {
  font-family: 'Times New Roman', serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 10px;
}

@keyframes moveToRight {
  to {
    opacity: 1;
    transform: initial;
  }
}
